/*!
 * Responsive bootstrap framework replace with custom css
 * Created at : 06-12-2019
 * Author : Kavya Sagar
 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #000; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h4{
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 30px;
}

i{
  padding:0 12px; 
}

p{
  margin: 0;
}
